/* loader css */
.loader {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blurBack{
    backdrop-filter: blur(3px);
    height: 100vh;
	width: 100%;
  
  }

/* Nav bar css */
.logo{
    font-size: 41px;
    letter-spacing: 0.2rem;
    font-family: 'Poppins';
    font-weight:bolder;
    margin-left:2rem;
    text-shadow: 2px 2px gold;
}
.container{
    display:flex;
    background-color: ;
    gap: 0.9rem;
    /* margin-left: 2rem; */
}
.logo-icon{
    font-size: 2.5rem;
    margin-top: 2.2rem;
    margin-left:0rem;
    color: black;
    shadow: 2px 2px black;
    
}
.reguser{
    background-image:url("https://img.freepik.com/free-vector/sign-up-concept-illustration_114360-7885.jpg?w=740&t=st=1660163894~exp=1660164494~hmac=b6e8a87073e398d80e376e8c482918ef0b78e199c9aaffa5d62aa540f082346d");
    background-repeat: "no-repeat";
      background-position: "right";
      background-size: "contain";
      font-family: "Poppins";
      height: "97.5vh";
}

/* Login css */
.login-container label{
color: #561111;
margin:  10px;
font-size: 15px;
color:black;
font-weight:500;
margin-top:2rem;

}
.login-container input{
    width: 90%;
    border: none;
    padding:1rem ;
    border-radius: 10px;
    font-family: 'Poppins';
    background-color:rgba(255, 255, 255, 0.8);
  
}
.login-container textarea{
    width: 90%;
    border: none;
    padding:1rem ;
    border-radius: 20px;
    font-family: 'Poppins';
    margin-top: 1rem;
    height: 10rem;
 
}

.submit-btn{
    color: white;
    width:100%;
    margin: 1rem;
    font-size: 17px;
    font-weight:"600";
    background: #e9d362;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333333, #e9d362);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333333, #e9d362); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* popup css */
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner{
    /* position: relative; */
    padding: 32px;
    width: 30%;
    background-color:white;
    height: 420px;
    border-radius: 3%;
}

.close-btn{
    float: right;
}

.pop-input{
    width: 100%;
    margin-top: 10px;
    font-family: "poppins";
    border-radius: 10px;
    border: none;
    height: 2rem;
    background-color: aliceblue;
}
.pop-textaria{
    width: 100%;
    margin-top: 10px;
    font-family: "poppins";
    border-radius: 10px;
    border: none;
    height: 10rem;
    background-color: aliceblue;
    
}

.note-update-btn{
    width: 100%;
}


/* home css */

.logout-btn {
    background-color: black;
    color: white;
    font-family: "poppins";
    border-radius: 10px;
    width: 6rem;
    height: 3rem;
    cursor: pointer;
    float: right;
    margin-top: -4.5rem;
    margin-right: 2rem;
}
.adduser-btn {
    background-color: black;
    color: white;
    font-family: "poppins";
    border-radius: 10px;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    align-items: center;
    margin: 20px;
}


.home-container{
    height:85vh;
}

/* user page css */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0.5rem 0.5rem;
    overflow: auto;
    height: 70vh;
    margin: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    font-family: "poppins";
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  /* note page css */

  .grid-container-note {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0.5rem 0.5rem;
    overflow: auto;
    height: 70vh;
    margin: 10px;
  }
  
  .grid-item-note {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    font-family: "poppins";
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  